# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
app.db
storage/

# Node
node_modules/
dist/

# General
.DS_Store
.vscode/
.idea/
.venv/

# Coverage reports
.coverage
.coverage.*
coverage.lcov
*.lcov
coverage/
htmlcov/
